@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&family=Lobster&family=Pacifico&family=Playfair+Display&family=Potta+One&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: .8rem;
    background: #80471C;
}
html::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5rem;
}
.bogo{
    position: fixed;
    bottom: -140px;
    z-index: 10;
}
body{
    background-color: #3eb489;
    font-family: 'Pacifico', cursive;
}
.logo{
    margin-top: 230px;
}
.wrapper{
    margin: 10%;
}

.wrapper h1{
    font-family: 'Pacifico', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: #80471C;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #3eb489;
    position: relative;
}

.team .team_member h3{
    color: #3eb489;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #3eb489;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
@media (max-width: 1570px){
    section {
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-img img {
        margin-right: 700px;
    }
    .contact-form h1 {
        font-size: 60px;
    }
    .contact-form p{
        margin-bottom: 3rem;
    }
}
@media (max-width: 1090px) {
    .contact {
        grid-gap: 2rem;
        transition: .3s;
    }
}
@media (max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form {
        order: 2;
    }
    .contact-img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}